<h1>Links</h1>
<ul>
  <li><a href="https://scholar.google.com/citations?hl=zh-CN&user=Nt9es7kAAAAJ">Google Scholar</a></li>
  <li><a href="http://www.leizhang.tk/shortbio.html">Short Bio</a></li>
  <li><a href="https://dblp.org/pid/64/5666-38.html">My DBLP</a></li>
  <li><a href="https://orcid.org/0000-0002-5305-8543">My ORCID</a></li>
  <li><a href="http://www4.comp.polyu.edu.hk/~csdzhang/">Prof David Zhang</a></li>
  <li><a href="https://see.xidian.edu.cn/faculty/xbgao/">Prof Xinbo Gao</a></li>
  <li><a href="http://www.avc2-lab.net/~eczhu/index.html/">Prof Ce Zhu</a></li>
  <li><a href="http://cs.njust.edu.cn/24/2d/c1732a9261/page.htm/">Prof Jian Yang</a></li>
  <li><a href="https://cfm.uestc.edu.cn/~yangyang/">Prof Yang Yang</a></li>
  <li><a href="http://www.escience.cn/people/fpnie/index.html">Prof Feiping Nie</a></li>
  <li><a href="http://homepage.hit.edu.cn/wangmengzuo">Prof Wangmeng Zuo</a></li>
  <li><a href="http://www.ntu.edu.sg/home/egbhuang/elm_codes.html">Prof Guangbin Huang</a></li>
  <li><a href="https://www.fst.um.edu.mo/people/pchen/">Prof C. L. Philip Chen</a></li>
  <li><a href="https://www3.cs.stonybrook.edu/~hling/">Prof Haibin Ling</a></li>
</ul>

