<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
<img class="about-avatar" src="{{ "/img/myimagenew.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />
 
<p><a href="http://www.leizhang.tk/resources/LeiZhang.jpg"></a></p>

    <h1>Contact me</h1>
<p><B>Lei Zhang, Ph.D, Full Professor@CQU; IEEE Senior Member, CCF Distinguished Member, ACM Member, CAAI/CSIG Member; Head of LiVE (Learning Intelligence & Vision Essential) Group@CQU; Director of Chongqing Key Laboratory of Bio-perception and Multimodal Intelligent Information Processing; Research Fellow@Peng Cheng Lab in Shenzhen; World Top 2% Scientists</p></B>
<p><B>Associate Editor for IEEE Transactions on Image Processing (IF: 10.8)</B></p>
<p><B>Associate Editor for IEEE Transactions on Instrumentation and Measurement (IF: 4.016)</B></p>
<p><B>Associate Editor for Neural Networks (Elsevier, IF: 8.05)</B></p>
<p><B>Associate Editor for CAAI Transactions on Intelligence Technology</B></p>
<p><B> Guest Editor for The Visual Computer</B></p><p><B>Guest Editor for "Brain Inspired Neural Networks and Deep Learning Systems"</B></p>
<p><B>Area Chair (AC) for IJCAI 2025, ACM MM 2020/2021, AAAI 2021, PRCV-2021, CICAI-2022</B></p>
<p>2013~2015, Hong Kong Scholar (HKPU), Postdoctoral Fellow, Department of Computing, The Hong Kong Polytechnic University</p>
<!--<p>2015~, Professor, Distinguished Researcher, School of Microelectronics and Communication Engineering, Chongqing University,China</p>-->
<p>2017~2018, Visiting Professor, University of Macau</p>

<!--E-mail: leizhang@cqu.edu.cn-->

<p style="color:green;">Note: I am in office all day from 9:00am to 9:00pm</p>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
